# The oreder of stuff makes is relevant

*
!/**/
!*.*
!makefile

*.exe
*.o
a.out
*.class
*.Identifier

# *replay_pid*
# *tempCodeRunnerFile.c

# # Ignore all
# *
# # Unignore all with extensions
# !*.*