---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
PointerAlignment: Left
ColumnLimit: 0
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
# InsertBraces: true
# AllowShortIfStatementsOnASingleLine: SIS_OnlyFirstIf
# KeepEmptyLinesAtTheStartOfBlocks: false
